.button-axure:hover {
    cursor: pointer;
    background-color: rgb(236, 127, 31);
    transform: scale(1.1);
    box-shadow: -0px 3px 10px 5px  rgba(0, 0, 0, 0.5);
    /* transform: translate(10px, 10px); */
}

.button-axure:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.axure {
    padding: 58px 0 38px;
    background: url("../img/background_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.axure::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.axure-container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.axure-title {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.axure-title-text {
    color: white;
    text-align: center;
}

.axure-dicription {
    text-align: center;
    padding: 0 0 57px;
    color: rgba(255, 255, 255, 0.8);
}

.axure-dicription::before {
    content: '';
    width: 64px;
    height: 2px;
    background-color: rgba(217, 137, 67, 1);
    margin: 34px auto 34px;
    display: block;
}

.button-axure {
    width: 135px;
    height: 42px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(196, 196, 196, 0);
    border: 1px solid rgba(255, 255, 255, 1);
    transition: 0.3s;
}

.button-title {
    color: white;
    transition: 0.2s;
}